.header {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          display: flex;
          justify-content: space-between;  
          align-items: center;             
          height: 60px;
          background-color: rgb(193, 20, 20);
          color: white;
          padding: 0 20px;
          z-index: 100;
          
      }

      .header-left {
          flex: 0 0 auto; 
      }

      .header .titl {
          color: white;
          font-size: 25px;
          font-weight: bold;
          font-family: Arial;
          margin: 0; 
          padding: 6px;
          border-radius: 8px;
      }

      .header-right {
          display: flex;
          align-items: center;
          gap: 15px;
          flex-wrap: nowrap; 
      }

      .header-right p {
          margin: 0; 
          padding: 1px 8px;
          border-radius: 4px;
          transition: box-shadow 0.5s, color 0.5s, background-color 0.5s;
          font-family: Times New Roman;
          
      }

      .header-right p:hover {
          box-shadow:0px 0px 5px rgba(0,0,0,0.5);
          background-color: white;
          color: red;
          text-decoration: no;
          cursor: pointer;
      }

      .header-right p:active {
          opacity: 0.8;
          transform: scale(0.9);
      }

      .header-right .profile {
          height: 30px; 
          border-radius: 50%;
          object-fit: cover;
          box-shadow:inset 0px 0px 5px rgba(0,0,0,0.5);
      }
      .header-right .profile:hover{
        cursor: pointer;
        
      }
      .profile:active{
        transform: scale(0.9);
        opacity: 0.8;
      }
      body{
        background-color: lightgray;
      }
      a{
        color: white;
        text-decoration: none;
      }